<!-- .row>.col*2 -->

<div class="row">
  <div class="col">

    <app-playlist-list 
      [items]="playlists | async" 
      [selected]="selectedPlaylist | async" 
    (selectedChange)="selectPlaylist($event)">
    </app-playlist-list>

    <!-- {{
      list.selectedChange.subscribe(event => selectPlaylist(event))
    }} -->

  </div>
  <div class="col">

    <div [ngSwitch]="mode" *ngIf="selectedPlaylist | async as playlist">

      <div *ngSwitchDefault>
        <app-playlist-details [playlist]="playlist" 
            (edit)="edit()"></app-playlist-details>
      </div>

      <div *ngSwitchCase="'form'">
        <app-playlist-form  [playlist]="playlist"
        (cancel)="cancel()" (save)="save($event)"></app-playlist-form>
      </div>

    </div>

  </div>
</div>

<!-- 
  []
  *
  {{}}
  ()
  # 
-->

<!-- Emmet -->
<!-- .row>.col>app-playlist-list^.col>app-playlist-details -->