<p>sync-search works!</p>

<div class="row">
  <div class="col">
    <app-music-search-view></app-music-search-view>
  </div>
  <div class="col">
    
    <button (click)="hide = !hide">Toggle</button>
    <app-music-search-view *ngIf="hide"></app-music-search-view>
  </div>
</div>
