

<div class="list-group">
  
  <div class="list-group-item" 
      [class.active]=" selected?.id == playlist.id  "
      (click)=" select(playlist)"
      *ngFor="let playlist of playlists; 
            trackBy:trackById; index as i">

     {{i+1}}. {{ playlist.name }}
  </div>
  

</div>

{{selected?.name}}