<form #formRef="ngForm" (ngSubmit)="saveClicked(formRef)">
  <app-card>

    <!-- <pre>{{ playlist | json }}</pre> -->

    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" #nameModelRef="ngModel" [ngModel]="playlist.name" name="name" required>
      {{170 - nameModelRef.value?.length}} / 170
    </div>

    <div ngModelGroup="info">

      <div class="form-group">
        <label> Public
          <input type="checkbox" [ngModel]="playlist.public" name="public">
        </label>
      </div>

      <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control" [ngModel]="playlist.description" name="description"></textarea>
      </div>
    </div>


    <ng-container ngProjectAs="footer">
      <button class="btn btn-danger" (click)="cancelClicked()">Cancel</button>
      <button class="btn btn-success" type="submit">Save</button>
    </ng-container>
  </app-card>

</form>