<ng-container *ngIf=" (album | async ) as album else loading">
<div class="row">
  <div class="col">
    <!-- {{ album_id | async }} -->

      <h3>
        {{ (album  )?.name}}
      </h3>

      <app-album-card [width]="100" [album]="album "></app-album-card>

      
      
    </div>
    <div class="col">

      <audio #audioRef controls [src]="selectedTrack?.preview_url" class="w-100"></audio>
      
      <div class="list-group">
        <div class="list-group-item" 
          [class.active]=" selectedTrack?.id == track.id"
          (click)="selectTrack(track)"
          *ngFor="let track of album.tracks?.items">
          {{track.name}}
        </div>
      </div>

    </div>
  </div>
  
</ng-container>

<ng-template #loading>
  <p class="alert alert-info">Please wait loading...</p>
</ng-template>