
  <img [src]="album.images[0].url" class="card-img-top">

  <div class="card-body">
    <div class="card-title">
      {{album.name}}
    </div>
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
  </div>