<div class="card-header">
  <h2 class="mb-0">
    <button class="btn btn-link btn-block text-left" (click)="toggle()">
      {{label}}
    </button>
  </h2>
</div>

<div class="collapse" [class.show]="isOpen">
  <div class="card-body">
    <ng-content></ng-content>
 
  </div>
</div>
