<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">

    <a class="navbar-brand" routerLinkActive="active" routerLink="/">Navbar</a>

    <button class="navbar-toggler" type="button" (click)="expanded = !expanded">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="expanded">
      <ul class="navbar-nav">

        <li class="nav-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}">
          <a class="nav-link" routerLink="/search">Music Search</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/search/sync">Sync</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/playlists">Playlists</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">

      <router-outlet></router-outlet>


    </div>
  </div>
</div>