<!-- Emmet / ZenCoding -->
<!-- https://docs.emmet.io/cheat-sheet/ -->
<!-- .row>.col>app-search-form^^.row>.col>app-search-results -->

<div class="row">
  <div class="col">
    <app-search-form 
    [query]="query | async"
    (searchChange)="search($event)"></app-search-form>
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="alert alert-danger" *ngIf="message">
      {{message}}
    </p>
    
        
      <p>Found {{(results | async)?.length}} results</p>

      <app-search-results  [results]="results | async">
      </app-search-results>


    <!-- <ng-container *ngIf="results | async as albums">
      <p>Found {{ albums.length }} results</p>

      <app-search-results [results]="albums">
      </app-search-results>

    </ng-container> -->

  </div>
</div>