<!-- <pre>{{playlist | json }}</pre> -->

<app-card>
  
  <ng-container ngProjectAs="title">
    {{playlist.name | titlecase}}
  </ng-container>

  <dl [id]=" 'playlist_'+playlist.id " [title]="playlist.name" [attr.data-id]="playlist.id ">

    <dt>Name:</dt>
    <dd data-test-id="playlist-name" [ngStyle]="{
  'font-size.px': 24,
  'border-width.px': 2
 }">{{playlist.name | titlecase}}</dd>

    <dt>Public:</dt>
    <dd class="public-switch" data-test-id="playlist_public" [ngClass]="{
      'is-public':playlist.public,
      'is-private':playlist.public == false 
    }">{{playlist.public | yesno | titlecase }}</dd>

    <dt>Description:</dt>
    <dd>{{ playlist.description | slice:0:30 }}</dd>

  </dl>


  <ng-container ngProjectAs="footer">
    <button class="btn btn-info" (click)="editClicked()">Edit</button>
  </ng-container>

</app-card>