/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

// $enable-rounded:false;
// $enable-shadows:true;
// $enable-gradients:true;
// $primary: hotpink;

// @import "~bootstrap/scss/bootstrap.scss"

// @import "functions";
// @import "variables";
// @import "mixins";
// @import "root";
// @import "reboot";
// @import "type";
// @import "images";
// @import "code";
// @import "grid";
// @import "tables";
// @import "forms";
// @import "buttons";

// @import "input-group";

// @import "nav";
// @import "navbar";
// @import "card";

// @import "alert";

// @import "list-group";
// @import "close";

// @import "utilities";