<form [formGroup]="searchForm" class="mb-3">


  <div class="input-group mb-1">

    <input class="form-control" placeholder="Search" formControlName="query">

    <!-- (keyup.alt.control.enter)="search(query)" -->

    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="search()">
        Search
      </button>
    </div>
  </div>

  <ng-container *ngIf="searchForm.get('query') as field">
    <ng-container *ngIf="field.touched || field.dirty">

      <p *ngIf="field.hasError('required')">
        Query is required
      </p>

      <p *ngIf="field.getError('minlength') as error">
        Query has to be at least {{ error.requiredLength }} characters long
      </p>

      <p *ngIf="field.getError('censor') as error">
        Query cannot contain "{{ error.badword }}"
      </p>

    </ng-container>
  </ng-container>

  <p *ngIf="searchForm.pending">Please wait...</p>

</form>